{% extends 'base.html' %}
{% load static %}
{% block title %} Enigma Digital | Categorias e Níveis {% endblock title %}
{% block content %}



<!-- Header -->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-container">
                    <h2 class="text-uppercase py-2">{{category.category_name}}</h2>
                    <p class="p-large p-heading">{{comcept.definition|escape|linebreaksbr}}</p>
                    <h4 class="py-2">Selecione um nível para jogar</h4>
                    <div class="border-bottom mb-4"></div>
                    <div class="py-2 mt-3">
                        {% for df in difficulties %}
                        <!-- Button trigger modal -->
                        <a href="{% url 'quizz:quiz_play' category.id df.id %}" role="button" type="submit"
                            class="btn btn-success btn-lg rounded-pill text-decoration-none" aria-pressed="true">
                            {{df.difficulty_text}} <i class="fa fa-solid fa-play"></i>
                        </a>
                        {% endfor %}
                    </div>



                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->

    </div> <!-- end of container -->
    <div class="deco-white-circle-1">
        <img src="{% static 'img/decorative-white-circle.svg' %}" alt="alternative">
    </div> <!-- end of deco-white-circle-1 -->
    <div class="deco-white-circle-2">
        <img src="{% static 'img/decorative-white-circle.svg' %}" alt="alternative">
    </div> <!-- end of deco-white-circle-2 -->
    <div class="deco-blue-circle">
        <img src="{% static 'img/decorative-blue-circle.svg' %}" alt="alternative">
    </div> <!-- end of deco-blue-circle -->
    <div class="deco-yellow-circle">
        <img src="{% static 'img/decorative-yellow-circle.svg' %}" alt="alternative">
    </div> <!-- end of deco-yellow-circle -->
    <div class="deco-green-diamond">
        <img src="{% static 'img/decorative-green-diamond.svg' %}" alt="alternative">
    </div> <!-- end of deco-yellow-circle -->
</header> <!-- end of header -->
<!-- end of header -->

{% block home %}

{% endblock home %}

{% endblock content %}