{% extends 'base.html' %}
{% load static %}
{% block title %} Enigma Digital | Home {% endblock title %}
{% block content %}



<!-- Header -->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-container">
                    <h2 class="text-uppercase">Bem-vindo ao Enigma Digital</h2>
                    <h3 class="py-2">Desafios Lógicos em Computação</h3>
                    <p class="p-large p-heading">É um jogo interativo de questionários que desafia e aprimora suas
                        habilidades em lógica e raciocínio voltadas para a ciência da computação. O jogo conduz os
                        jogadores através de conceitos fundamentais da Lógica Proposicional e Lógica de Predicados</p>
                    <div class="border-bottom mb-4"></div>
                    <div class="py-2 mt-4">
                        {% for category in categories %}
                        <!-- Button trigger modal -->
                        <a href="{% url 'quizz:quizz_view_category' category.id %}"><button type="button"
                                class="btn btn-primary btn-lg rounded-pill text-light">
                                <i class="fa fa-solid fa-gamepad"></i> {{category.category_name}}
                            </button></a>
                        {% endfor %}
                    </div>




                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- 
        <div class="row">
            <div class="col-lg-12">
                <div class="image-container">
                    <img class="img-fluid" src="{% static 'img/bg1.png' %}" alt="alternative">
                </div> 
            </div> 
        </div>-->
    </div> <!-- end of container -->
    <div class="deco-white-circle-1">
        <img src="{% static 'img/decorative-white-circle.svg' %}" alt="alternative">
    </div> <!-- end of deco-white-circle-1 -->
    <div class="deco-white-circle-2">
        <img src="{% static 'img/decorative-white-circle.svg' %}" alt="alternative">
    </div> <!-- end of deco-white-circle-2 -->
    <div class="deco-blue-circle">
        <img src="{% static 'img/decorative-blue-circle.svg' %}" alt="alternative">
    </div> <!-- end of deco-blue-circle -->
    <div class="deco-yellow-circle">
        <img src="{% static 'img/decorative-yellow-circle.svg' %}" alt="alternative">
    </div> <!-- end of deco-yellow-circle -->
    <div class="deco-green-diamond">
        <img src="{% static 'img/decorative-green-diamond.svg' %}" alt="alternative">
    </div> <!-- end of deco-yellow-circle -->
</header> <!-- end of header -->
<!-- end of header -->

{% block home %}
<!-- Screenshots -->
<div id="screens" class="slider cards-1 ">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">

                <!-- Image Slider -->
                <div class="slider-container">
                    <div class="swiper-container image-slider text-center">
                        <div class="swiper-wrapper ">


                            <!-- Slide -->

                            {% for winner in total_quiz_user%}
                            <div class="swiper-slide text-center">
                                <div class="card">
                                    <small class="display-6">{{forloop.counter}}º</small>
                                    <div class="card-image alert bg-primary">
                                        <i class="fas fa-user" style="color: #fff;"></i>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="text-uppercase">{{winner.total_score}}</h6>
                                        <h6 class="text-uppercase">{{winner.user.username}}</h6>
                                    </div>

                                </div>
                            </div>
                            <!-- end of slide -->
                            {%endfor%}


                        </div> <!-- end of swiper-wrapper -->

                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <!-- end of add arrows -->

                    </div> <!-- end of swiper-container -->
                </div> <!-- end of slider-container -->
                <!-- end of image slider -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of slider -->
<!-- end of screenshots -->
{% endblock home %}

{% endblock content %}