{% extends 'base.html' %}
{% load static %}
{% block title %} Detetive Lógico | Regras {% endblock title %}
{% block content %}

<main>
    <div class="container py-4">
        <header class="pb-3 mb-3 border-bottom">
            <p class="col-md-12 fs-4">Regras do Jogo</p>
            <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75"
                aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%"></div>
            </div>
        </header>


    </div>
</main>

{% endblock content %}